@import "~bootstrap/scss/bootstrap";

// General styles
html, body {
    height: 100%;
    font-size: 14px;
    background: #e6ecf0;
    color: #14171a;

    h1 {
        color: #ffffff;
        font-family: 'Raleway',sans-serif; 
        font-size: 62px; 
        font-weight: 800; 
        line-height: 72px;  
        text-shadow: 2px 1px 1px black
    }

    h2 {
        font-size: 1.5rem;
    }
    
    a {
        text-decoration: none;

        &:focus, &:visited, &:hover {
            border: none;
            text-decoration: none;
            outline: none;
        }
    }
   
    //Main style
    #feed-wrapper {
        max-width: 800px;
        margin: 50px auto;

        .feed-post{
            background: white;
            height: 180px;
        }

        .post-image {
            width: 100%;
            height: 100%;
        }

        .post-options {
            margin-top: 60px;
        }

        .published-date {
            font-size: 0.9rem;
        }
    }
}

@media only screen and (max-width: 767px) {
    html, body {
        font-size: 11px;

        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 1.4rem;
        }

        #feed-wrapper .post-options {
            margin-top: 32px;
        }

        #feed-wrapper .feed-post{
            height: 140px;
        }
    }
}

@media only screen and (max-width: 500px) {
    
    html #feed-wrapper {
        margin-top: 0;

        h2 {
            font-size: 1.2rem;
        }

        .feed-post{
            height: 120px;
        }

        .post-options {
            margin-top: 15px;
        }
    }
}